# 주제 : 나이에 따른 사망 위험률
- 사용할 데이터 : patient info

## 모듈 불러오기

In [53]:
#data analysis
import pandas as pd
import numpy as np
import random as rnd

In [54]:
#visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [55]:
#machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [56]:
%matplotlib nbagg
import matplotlib

## 데이터 불러오기 
- 데이터 불러오기
- train, test 나누기

In [57]:
data = pd.read_csv("PatientInfo.csv")

In [58]:
data.head()

,patient_id,sex,age,country,province,city,infection_case,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,male,50s,Korea,서울,강서구,overseas inflow,NaN,75,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,male,30s,Korea,서울,중랑구,overseas inflow,NaN,31,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,male,50s,Korea,서울,종로구,contact with patient,2002000001,17,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,male,20s,Korea,서울,마포구,overseas inflow,NaN,9,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,female,20s,Korea,서울,성북구,contact with patient,1000000002,2,NaN,2020-01-31,2020-02-24,NaN,released

In [59]:
print(data.columns.values)

['patient_id' 'sex' 'age' 'country' 'province' 'city' 'infection_case'
 'infected_by' 'contact_number' 'symptom_onset_date' 'confirmed_date'
 'released_date' 'deceased_date' 'state']

- 쓸 column : age, state
- categorical : sex, state, age

In [60]:
data.describe()

         patient_id
count  5.165000e+03
mean   2.863635e+09
std    2.074211e+09
min    1.000000e+09
25%    1.000001e+09
50%    2.000000e+09
75%    6.001000e+09
max    7.000000e+09

In [61]:
data [ 'age']

0       50s
1       30s
2       50s
3       20s
4       20s
       ...
5160    30s
5161    NaN
5162    NaN
5163    NaN
5164    NaN
Name: age, Length: 5165, dtype: object

In [62]:
data.index

RangeIndex(start=0, stop=5165, step=1)

In [63]:
data.columns

Index(['patient_id', 'sex', 'age', 'country', 'province', 'city',
       'infection_case', 'infected_by', 'contact_number', 'symptom_onset_date',
       'confirmed_date', 'released_date', 'deceased_date', 'state'],
      dtype='object')

In [64]:
data.values

array([[1000000001, 'male', '50s', ..., '2020-02-05', nan, 'released'],
       [1000000002, 'male', '30s', ..., '2020-03-02', nan, 'released'],
       [1000000003, 'male', '50s', ..., '2020-02-19', nan, 'released'],
       ...,
       [7000000017, nan, nan, ..., nan, nan, 'isolated'],
       [7000000018, nan, nan, ..., nan, nan, 'isolated'],
       [7000000019, nan, nan, ..., nan, nan, 'isolated']], dtype=object)

In [65]:
train_df=pd.DataFrame (data, columns = ['age', 'state'])

In [66]:
print(train_df)

      age     state
0     50s  released
1     30s  released
2     50s  released
3     20s  released
4     20s  released
...   ...       ...
5160  30s  released
5161  NaN  released
5162  NaN  isolated
5163  NaN  isolated
5164  NaN  isolated

[5165 rows x 2 columns]

In [67]:
train_df.head()

   age     state
0  50s  released
1  30s  released
2  50s  released
3  20s  released
4  20s  released

In [68]:
train_df.tail()

      age     state
5160  30s  released
5161  NaN  released
5162  NaN  isolated
5163  NaN  isolated
5164  NaN  isolated

In [69]:
data["age"].unique()

array(['50s', '30s', '20s', '60s', '80s', '70s', '40s', '10s', '90s',
       '0s', nan, '100s'], dtype=object)

In [70]:
data.groupby("age")["state"].sum().sort_values()

age
90s     deceasedreleaseddeceasedisolatedreleasedisolat...
80s     deceasedreleasedreleasedreleasedreleasedreleas...
100s                                             released
0s      releasedreleasedreleasedreleasedreleasedreleas...
70s     releasedreleasedreleasedreleasedreleasedreleas...
60s     releasedreleasedreleasedreleasedreleasedreleas...
10s     releasedreleasedreleasedreleasedreleasedreleas...
40s     releasedreleasedreleasedreleasedreleasedreleas...
30s     releasedreleasedreleasedreleasedreleasedreleas...
50s     releasedreleasedreleasedreleasedreleasedreleas...
20s     releasedreleasedreleasedreleasedreleasedreleas...
Name: state, dtype: object

In [73]:
df = train_df.groupby(['age']).state.value_counts()

In [75]:
print(df)

age   state
0s    released     36
      isolated     30
100s  released      1
10s   released    115
      isolated     63
20s   released    664
      isolated    235
30s   released    332
      isolated    190
      deceased      1
40s   released    370
      isolated    146
      deceased      2
50s   released    457
      isolated    203
      deceased      7
60s   released    294
      isolated    176
      deceased     12
70s   released    133
      isolated     78
      deceased     21
80s   released     80
      isolated     65
      deceased     25
90s   isolated     26
      released     16
      deceased      7
Name: state, dtype: int64

In [79]:
df = pd.DataFrame(df)

In [80]:
df.head()

               state
age  state
0s   released     36
     isolated     30
100s released      1
10s  released    115
     isolated     63

In [82]:
print(df)

               state
age  state
0s   released     36
     isolated     30
100s released      1
10s  released    115
     isolated     63
20s  released    664
     isolated    235
30s  released    332
     isolated    190
     deceased      1
40s  released    370
     isolated    146
     deceased      2
50s  released    457
     isolated    203
     deceased      7
60s  released    294
     isolated    176
     deceased     12
70s  released    133
     isolated     78
     deceased     21
80s  released     80
     isolated     65
     deceased     25
90s  isolated     26
     released     16
     deceased      7

# 나머지는 직접 계산함