In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

#### 데이터 명
- 지하철 데이터 : KR_TB_SBWY_STN_HR_CON_20190101_20190531_UTF8.csv
- 철도 데이터 : KR_TB_TR_STN_DAY_CON_20190101_20190531_UTF8.csv

In [6]:
train_df = pd.read_csv('KR_TB_TR_STN_DAY_CON_20200101_20200531_UTF8.csv')
train_df.head()

     RUN_DT   STN_CD STN_CD_NM  ABRD_PRNB   GOFF_PRNB
0  20200101      924       송도교          2           -
1  20200101  3900023        서울     38,306      50,440
2  20200101  3900025        용산     19,702      23,967
3  20200101  3900030       영등포     10,812      11,125
4  20200101  3900039        안양        387         269

필요한 날짜 지역 하차 데이터 사용

In [7]:
df = train_df.loc[:, ['RUN_DT', 'STN_CD_NM', ' GOFF_PRNB ']]
df.head()

     RUN_DT STN_CD_NM  GOFF_PRNB
0  20200101       송도교          -
1  20200101        서울     50,440
2  20200101        용산     23,967
3  20200101       영등포     11,125
4  20200101        안양        269

In [8]:
df.isnull().sum()

RUN_DT         0
STN_CD_NM      0
 GOFF_PRNB     0
dtype: int64

In [9]:
df['STN_CD_NM'].unique()

array(['송도교', '서울', '용산', '영등포', '안양', '수원', '오산', '서정리', '평택', '성환',
       '천안', '전의', '조치원', '부강', '신탄진', '대전', '옥천', '이원', '지탄', '심천', '영동',
       '황간', '추풍령', '김천', '구미', '사곡', '약목', '왜관', '신동', '대구', '동대구', '경산',
       '남성현', '청도', '상동', '밀양', '삼랑진', '원동', '물금', '화명', '구포', '사상', '부산',
       '덕소', '양평', '용문', '지평', '석불', '일신', '매곡', '양동', '삼산', '동화', '만종',
       '원주', '반곡', '신림', '제천', '단양', '희방사', '풍기', '영주', '안동', '의성', '탑리',
       '화본', '신녕', '북영천', '영천', '건천', '서경주', '서대전', '계룡', '연산', '논산',
       '강경', '함열', '익산', '김제', '신태인', '정읍', '백양사', '장성', '광주송정', '나주',
       '다시', '함평', '무안', '몽탄', '일로', '임성리', '목포', '삼례', '전주', '임실', '오수',
       '남원', '곡성', '구례구', '순천', '여천', '여수엑스포', '오송', '청주', '오근장', '청주공항',
       '증평', '음성', '주덕', '충주', '삼탄', '아산', '온양온천', '도고온천', '신례원', '예산',
       '삽교', '홍성', '광천', '청소', '대천', '웅천', '판교', '서천', '장항', '군산', '대야',
       '행신', '옥수', '왕십리', '청량리', '평내호평', '청평', '가평', '백양리', '강촌', '남춘천',
       '춘천', '옥산', '청리', '상주', '함창', '점촌', '용궁', '개포', '예천', '극락강', '광주',
       '봉화', '춘양', '임기', '현동', '분천', '양원', '승부', '석포', '철암', '동백산', '도계',
       '신기', '동해', '묵호', '정동진', '강릉', '정선', '나전', '아우라지', '쌍룡', '영월',
       '예미', '민둥산', '사북', '고한', '태백', '부전', '센텀', '신해운대', '기장', '좌천',
       '남창', '덕하', '태화강', '호계', '불국사', '경주', '안강', '하양', '한림정', '진영',
       '창원', '마산', '중리', '함안', '군북', '반성', '진주', '완사', '북천', '횡천', '하동',
       '진상', '광양', '벌교', '조성', '예당', '득량', '보성', '명봉', '이양', '능주', '화순',
       '효천', '서광주', '광명', '천안아산', '김천구미', '신경주', '울산', '상봉', '진례', '창원중앙',
       '인천공항T1', '공주', '포항', '횡성', '둔내', '평창', '진부', '인천공항T2', '월포', '장사',
       '강구', '영덕', '각계', '퇴계원', '사릉', '마석', '별어곡', '선평', '광운대', '동두천',
       '신창', '비동'], dtype=object)

In [24]:

for i in range(0, 266):
    df[' GOFF_PRNB '] = df[' GOFF_PRNB '].str.replace(",","")
    df.loc[df[' GOFF_PRNB ']==' - ', 'GOFF_PRNB'] = 0
    df[' GOFF_PRNB '].astype('float')
    
df['GOFF_PRNB']

ValueError: could not convert string to float: ' - '

In [20]:
stations = ['송도교', '서울', '용산', '영등포', '안양', '수원', '오산', '서정리', '평택', '성환',
       '천안', '전의', '조치원', '부강', '신탄진', '대전', '옥천', '이원', '심천', '영동', '황간',
       '추풍령', '김천', '구미', '사곡', '약목', '왜관', '신동', '대구', '동대구', '경산',
       '남성현', '청도', '상동', '밀양', '삼랑진', '원동', '물금', '화명', '구포', '사상', '부산',
       '덕소', '양평', '용문', '지평', '석불', '일신', '매곡', '양동', '삼산', '동화', '만종',
       '원주', '반곡', '신림', '제천', '단양', '희방사', '풍기', '영주', '안동', '의성', '탑리',
       '화본', '신녕', '북영천', '영천', '건천', '서경주', '서대전', '계룡', '연산', '논산',
       '강경', '함열', '익산', '김제', '신태인', '정읍', '백양사', '장성', '광주송정', '나주',
       '다시', '함평', '무안', '몽탄', '일로', '임성리', '목포', '삼례', '전주', '임실', '오수',
       '남원', '곡성', '구례구', '순천', '여천', '여수엑스포', '오송', '청주', '오근장', '청주공항',
       '증평', '음성', '주덕', '충주', '삼탄', '아산', '온양온천', '신창', '도고온천', '신례원',
       '예산', '삽교', '홍성', '광천', '청소', '대천', '웅천', '판교', '서천', '장항', '군산',
       '대야', '행신', '옥수', '왕십리', '청량리', '동두천', '소요산', '전곡', '연천', '신망리',
       '대광리', '신탄리', '평내호평', '청평', '가평', '백양리', '강촌', '남춘천', '춘천', '옥산',
       '청리', '상주', '함창', '점촌', '용궁', '개포', '예천', '극락강', '광주', '봉화', '춘양',
       '현동', '분천', '양원', '승부', '석포', '철암', '동백산', '도계', '신기', '동해', '묵호',
       '망상해변', '정동진', '강릉', '쌍룡', '영월', '예미', '민둥산', '사북', '고한', '태백',
       '부전', '센텀', '신해운대', '기장', '좌천', '월내', '남창', '덕하', '태화강', '호계',
       '불국사', '경주', '안강', '하양', '한림정', '진영', '창원', '마산', '중리', '함안', '군북',
       '반성', '진주', '완사', '북천', '횡천', '하동', '진상', '광양', '벌교', '조성', '예당',
       '득량', '보성', '명봉', '이양', '능주', '화순', '효천', '서광주', '광명', '천안아산',
       '김천구미', '신경주', '울산', '상봉', '진례', '창원중앙', '인천공항T1', '백마고지', '공주',
       '포항', '횡성', '둔내', '평창', '진부', '인천공항T2', '월포', '장사', '강구', '영덕',
       '지탄', '각계', '문산', '임진강', '도라산', '초성리', '퇴계원', '사릉', '마석', '임기',
       '별어곡', '선평', '정선', '아우라지', '비동', '광운대', '의정부', '한탄강', '나전', '운천',
       '서빙고', '망우', '백운', '자미원', '의왕', '창동', '별내']

for i in range(0, 266):
    station = df[df['STN_CD_NM'] == stations[i]]
    station['GOFF_PRNB'] = station[' GOFF_PRNB '].str.replace(",","")
    station.loc[station['GOFF_PRNB']==' - ', 'GOFF_PRNB'] = 0
    station['GOFF_PRNB'].astype('float')
    
    print(stations[i], '\n', station['GOFF_PRNB'], '\n')
station['GOFF_PRNB'].info()

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

송도교
 0          0
468        0
706       1
1871      2
2106       0
2342       0
2576       0
2812       0
3514      2
3751      1
3989      2
4224      2
4460      2
4929      2
5640       0
5873       0
6575      2
6812       0
8684      1
8916       0
9148      1
9615      1
10314     1
11475     2
12866     2
27711      0
Name: GOFF_PRNB, dtype: object

서울
 1         50440
233       49116
469       58289
707       51642
939       51119
          ...
33894     29088
34125     32026
34354     39010
34585     25796
34813     29179
Name: GOFF_PRNB, Length: 152, dtype: object

용산
 2         23967
234       19958
470       24878
708       27122
940       25421
          ...
33895     12808
34126     13757
34355     18114
34586     15721
34814     17829
Name: GOFF_PRNB, Length: 152, dtype: object

영등포
 3         11125
235       10732
471       13173
709       14459
941       13150
          ...
33896      7616
34127      8190
34356     10416
34587      9592
34815      9408
Name: GOFF_PRNB, Length: 152, dtype: object

안양
 4         269
236       578
472       536
710       349
942       328
         ...
33897     416
34128     433
34357     493
34588     282
34816     244
Name: GOFF_PRNB, Length: 152, dtype: object

수원
 5         15705
237       16043
473       18739
711       18684
943       17762
          ...
33898     11149
34129     11611
34358     15161
34589     12552
34817     12246
Name: GOFF_PRNB, Length: 152, dtype: object

오산
 6         145
238       310
474       289
712       124
944       130
         ...
33899     223
34130     235
34359     283
34590      96
34818      92
Name: GOFF_PRNB, Length: 152, dtype: object

서정리
 7         54
239       56
475       43
713       28
945       25
         ...
33900     50
34131     41
34360     56
34591     13
34819     37
Name: GOFF_PRNB, Length: 152, dtype: object

평택
 8         8443
240       7350
476       7065
714       7827
946       8097
          ...
33901     4270
34132     4557
34361     5567
34592     5198
34820     5506
Name: GOFF_PRNB, Length: 152, dtype: object

성환
 9          43
241       128
477       105
715        31
947        45
         ...
33902      85
34133      84
34362      95
34593      24
34821      37
Name: GOFF_PRNB, Length: 152, dtype: object

천안
 10        6399
242       6495
478       7181
716       8855
948       6970
          ...
33903     4547
34134     4714
34363     6044
34594     6118
34822     5147
Name: GOFF_PRNB, Length: 152, dtype: object

전의
 11        148
243       111
479       119
717       146
949       148
         ...
33904      78
34135      97
34364     106
34595      94
34823     127
Name: GOFF_PRNB, Length: 152, dtype: object

조치원
 12        4291
244       3931
480       4371
718       4324
950       4660
          ...
33905     2853
34136     3234
34365     3733
34596     3406
34824     3847
Name: GOFF_PRNB, Length: 152, dtype: object

부강
 13        157
245       147
481       101
719       122
951       204
         ...
33906      89
34137     103
34366     101
34597      79
34825     138
Name: GOFF_PRNB, Length: 152, dtype: object

신탄진
 14        1944
246       1760
482       1951
720       1876
952       2061
          ...
33907     1097
34138     1525
34367     1609
34598     1439
34826     1644
Name: GOFF_PRNB, Length: 152, dtype: object

대전
 15        19592
247       18112
483       23020
721       23071
953       21788
          ...
33908     13091
34139     13401
34368     18640
34599     15960
34827     15021
Name: GOFF_PRNB, Length: 152, dtype: object

옥천
 16        517
248       510
484       630
722       606
954       587
         ...
33909     357
34140     409
34369     473
34600     521
34828     350
Name: GOFF_PRNB, Length: 152, dtype: object

이원
 17        33
249       35
485       32
723       23
955       21
         ...
33910     21
34141     16
34370     40
34601     29
34829     24
Name: GOFF_PRNB, Length: 152, dtype: object

심천
 19        13
251       17
487       23
724       23
957       13
         ...
33912     17
34142     21
34372     25
34603     27
34831     12
Name: GOFF_PRNB, Length: 152, dtype: object

영동
 20        1233
253       1421
489       1765
725       2010
958       1821
          ...
33914     1096
34143      954
34374     1267
34605     1132
34832      988
Name: GOFF_PRNB, Length: 152, dtype: object

황간
 21         84
254       108
490        99
726       132
959        97
         ...
33915      67
34144      68
34375     103
34606     100
34833      44
Name: GOFF_PRNB, Length: 152, dtype: object

추풍령
 22        46
255       37
491       35
727       34
960       32
         ...
33916     36
34145     17
34376     37
34607     44
34834     22
Name: GOFF_PRNB, Length: 152, dtype: object

김천
 23        2475
256       2624
492       3230
728       3283
961       2777
          ...
33917     1594
34146     1671
34377     2300
34608     2066
34835     1861
Name: GOFF_PRNB, Length: 152, dtype: object

구미
 24        6465
257       6363
493       7401
729       7946
962       7511
          ...
33918     3604
34147     3626
34378     5191
34609     5137
34836     4636
Name: GOFF_PRNB, Length: 152, dtype: object

사곡
 25        71
258       33
494       48
730       57
963       83
         ...
23158      2
23842      2
24072      2
24528      2
24761      2
Name: GOFF_PRNB, Length: 105, dtype: object

약목
 26        107
259       142
495       156
731       160
964       129
         ...
33919      95
34148     113
34379     145
34610     106
34837      87
Name: GOFF_PRNB, Length: 152, dtype: object

왜관
 27        1948
260       2302
496       2554
732       2558
965       2255
          ...
33920     1266
34149     1339
34380     1737
34611     1612
34838     1343
Name: GOFF_PRNB, Length: 152, dtype: object

신동
 28         4
261        5
497        9
733        5
966        3
         ...
33921     15
34150     14
34381     12
34612      6
34839      6
Name: GOFF_PRNB, Length: 151, dtype: object

대구
 29        5430
262       7055
498       8148
734       8696
967       6897
          ...
33922     3702
34151     3729
34382     4611
34613     4772
34840     3818
Name: GOFF_PRNB, Length: 152, dtype: object

동대구
 30        23327
263       22642
499       29973
735       30307
968       27496
          ...
33923     12601
34152     13258
34383     19709
34614     16395
34841     15642
Name: GOFF_PRNB, Length: 152, dtype: object

경산
 31        2754
264       2871
500       3058
736       3158
969       3222
          ...
33924     1593
34153     2053
34384     2234
34615     2148
34842     2182
Name: GOFF_PRNB, Length: 152, dtype: object

남성현
 32        11
265        8
501        9
737       16
970        6
         ...
33925     15
34154      7
34385      8
34616      5
34843      8
Name: GOFF_PRNB, Length: 151, dtype: object

청도
 33        1218
266       1239
502       1470
738       1318
971       1160
          ...
33926      903
34155      924
34386     1062
34617     1007
34844      702
Name: GOFF_PRNB, Length: 152, dtype: object

상동
 34         74
267        72
503       119
739        88
972        97
         ...
33927      72
34156      86
34387     104
34618     169
34845      71
Name: GOFF_PRNB, Length: 152, dtype: object

밀양
 35        2455
268       2870
504       3482
740       3609
973       2852
          ...
33928     2078
34157     2181
34388     2942
34619     2679
34846     2027
Name: GOFF_PRNB, Length: 152, dtype: object

삼랑진
 36        362
269       449
505       489
741       480
974       424
         ...
33929     402
34158     403
34389     468
34620     413
34847     340
Name: GOFF_PRNB, Length: 152, dtype: object

원동
 37         59
270        65
506        78
742        96
975        92
         ...
33930      96
34159      83
34390      96
34621     114
34848     105
Name: GOFF_PRNB, Length: 152, dtype: object

물금
 38        1300
271       1093
507       1318
743       1224
976       1198
          ...
33931      857
34160      833
34391     1093
34622      820
34849      762
Name: GOFF_PRNB, Length: 152, dtype: object

화명
 39        129
272       175
508       205
744       164
977       179
         ...
33932     149
34161     144
34392     194
34623     102
34850     113
Name: GOFF_PRNB, Length: 152, dtype: object

구포
 40        4073
273       3475
509       4701
745       4960
978       5019
          ...
33933     2136
34162     2352
34393     3745
34624     3065
34851     3028
Name: GOFF_PRNB, Length: 152, dtype: object

사상
 41         64
274       130
510       123
746        74
979        65
         ...
33934      84
34163      71
34394     100
34625      51
34852      73
Name: GOFF_PRNB, Length: 152, dtype: object

부산
 42        17118
275       18507
511       24314
747       24539
980       19819
          ...
33935      8872
34164      9908
34395     15180
34626     12795
34853     10161
Name: GOFF_PRNB, Length: 152, dtype: object

덕소
 43         50
276        75
512        95
748        32
981        51
         ...
33936      70
34165      72
34396     105
34627      31
34854      43
Name: GOFF_PRNB, Length: 152, dtype: object

양평
 44        1019
277       1373
513       1655
749       1715
982       1355
          ...
33937     1079
34166     1141
34397     1516
34628     1110
34855      764
Name: GOFF_PRNB, Length: 152, dtype: object

용문
 45        248
278       346
514       401
750       408
983       364
         ...
33938     283
34167     287
34398     335
34629     348
34856     238
Name: GOFF_PRNB, Length: 152, dtype: object

지평
 46        33
279       49
515       70
751       30
984       35
         ...
33939     45
34168     44
34399     53
34630     27
34857     11
Name: GOFF_PRNB, Length: 152, dtype: object

석불
 47        1
280        0
516       2
752       1
1217      3
        ...
33940     4
34169     6
34400     4
34631     5
34858     4
Name: GOFF_PRNB, Length: 150, dtype: object

일신
 48        12
281        9
517        7
753       13
985        7
         ...
33941     17
34170     19
34401     20
34632     30
34859     17
Name: GOFF_PRNB, Length: 152, dtype: object

매곡
 49         8
282       17
518       11
754       10
986       10
         ...
33942     12
34171     15
34402     14
34633     12
34860      4
Name: GOFF_PRNB, Length: 152, dtype: object

양동
 50        135
283       275
519       286
755       214
987       170
         ...
33943     231
34172     205
34403     284
34634     243
34861     120
Name: GOFF_PRNB, Length: 152, dtype: object

삼산
 51         2
284        3
520        6
756       10
988        2
         ...
33944      8
34173      3
34404      6
34635      3
34862      4
Name: GOFF_PRNB, Length: 152, dtype: object

동화
 52        29
285       40
521       29
757       33
989       32
         ...
33945     29
34174     32
34405     43
34636     40
34863     21
Name: GOFF_PRNB, Length: 152, dtype: object

만종
 53         932
286       1062
522       1333
758       1389
990       1183
          ...
33946      882
34175      938
34406     1328
34637     1047
34864      795
Name: GOFF_PRNB, Length: 152, dtype: object

원주
 54        1473
287       1427
523       1718
759       2009
991       1700
          ...
33947     1121
34176     1178
34407     1519
34638     1485
34865     1273
Name: GOFF_PRNB, Length: 152, dtype: object

반곡
 55         88
288       110
524        74
760        40
992        77
         ...
33948      56
34177      63
34408      75
34639      37
34866      69
Name: GOFF_PRNB, Length: 152, dtype: object

신림
 56        13
289        8
525       23
761       38
993       18
         ...
33949     13
34178     20
34409     25
34640     27
34867     12
Name: GOFF_PRNB, Length: 152, dtype: object

제천
 57        1874
290       1554
526       2018
762       2098
994       1963
          ...
33950     1060
34179     1127
34410     1680
34641     1514
34868     1479
Name: GOFF_PRNB, Length: 152, dtype: object

단양
 58        190
291       186
527       209
763       215
995       192
         ...
33951     140
34180     112
34411     234
34642     323
34869     217
Name: GOFF_PRNB, Length: 152, dtype: object

희방사
 59         5
292        2
528        3
764       46
996        8
         ...
33952      6
34181     10
34412      9
34643     44
34870     46
Name: GOFF_PRNB, Length: 131, dtype: object

풍기
 60        142
293       170
529       237
765       198
997       284
         ...
33953     146
34182     180
34413     189
34644     221
34871     243
Name: GOFF_PRNB, Length: 152, dtype: object

영주
 61        696
294       608
530       743
766       859
998       689
         ...
33954     385
34183     372
34414     605
34645     556
34872     532
Name: GOFF_PRNB, Length: 152, dtype: object

안동
 62        611
295       673
531       694
767       731
999       648
         ...
33955     392
34184     361
34415     556
34646     525
34873     428
Name: GOFF_PRNB, Length: 152, dtype: object

의성
 63        135
296       122
532       130
768       135
1000      132
         ...
33956      58
34185      74
34416     108
34647     119
34874      95
Name: GOFF_PRNB, Length: 152, dtype: object

탑리
 64        20
297       28
533       30
769       27
1001      25
         ...
33957     25
34186     14
34417     19
34648     32
34875     15
Name: GOFF_PRNB, Length: 152, dtype: object

화본
 65        10
298        8
534        8
770       24
1002       2
         ...
33958      4
34187      6
34418      7
34649     17
34876      7
Name: GOFF_PRNB, Length: 151, dtype: object

신녕
 66         3
299        3
535        7
771        6
1003       5
         ...
33959      2
34188     11
34419      1
34650      5
34877      3
Name: GOFF_PRNB, Length: 137, dtype: object

북영천
 67         6
300        3
536        5
772        5
1004      11
         ...
33960      5
34189      6
34420      3
34651      4
34878      4
Name: GOFF_PRNB, Length: 150, dtype: object

영천
 68         959
301       1079
537       1269
773       1214
1005      1321
          ...
33961      691
34190      728
34421      888
34652      915
34879      714
Name: GOFF_PRNB, Length: 152, dtype: object

건천
 69         7
302        8
538       12
774        9
1006      10
         ...
33962      4
34191      9
34422      9
34653      7
34880      3
Name: GOFF_PRNB, Length: 150, dtype: object

서경주
 70        206
303       287
539       322
775       293
1007      232
         ...
33963     163
34192     163
34423     190
34654     197
34881     133
Name: GOFF_PRNB, Length: 152, dtype: object

서대전
 71        4805
304       4281
540       5524
776       6810
1008      5337
          ...
33964     2856
34193     3077
34424     4535
34655     4763
34882     4137
Name: GOFF_PRNB, Length: 152, dtype: object

계룡
 72        875
305       684
541       970
777       940
1009      921
         ...
33965     539
34194     691
34425     789
34656     596
34883     601
Name: GOFF_PRNB, Length: 152, dtype: object

연산
 73        19
306       34
542       34
778       43
1010      39
         ...
33966     16
34195     20
34426     21
34657     36
34884     19
Name: GOFF_PRNB, Length: 152, dtype: object

논산
 74        1804
307       1665
543       1790
779       2135
1011      1803
          ...
33967      962
34196     1199
34427     1631
34658     1639
34885     1347
Name: GOFF_PRNB, Length: 152, dtype: object

강경
 75        284
308       365
544       334
780       390
1012      266
         ...
33968     227
34197     311
34428     338
34659     358
34886     291
Name: GOFF_PRNB, Length: 152, dtype: object

함열
 76        140
309        99
545       126
781       185
1013      110
         ...
33969      51
34198      70
34429     144
34660     151
34887      87
Name: GOFF_PRNB, Length: 152, dtype: object

익산
 77        6674
310       6199
546       7734
782       8474
1014      7760
          ...
33970     4182
34199     4449
34430     6391
34661     5620
34888     5323
Name: GOFF_PRNB, Length: 152, dtype: object

김제
 78        564
311       434
547       635
783       828
1015      691
         ...
33971     293
34200     370
34431     513
34662     561
34889     445
Name: GOFF_PRNB, Length: 152, dtype: object

신태인
 79        132
312       134
548       114
784       160
1016      138
         ...
33972     100
34201     103
34432     137
34663     137
34890     101
Name: GOFF_PRNB, Length: 152, dtype: object

정읍
 80        1293
313       1220
549       1589
785       1745
1017      1487
          ...
33973      886
34202      914
34433     1440
34664     1371
34891     1030
Name: GOFF_PRNB, Length: 152, dtype: object

백양사
 81         77
314        59
550        66
786        82
1018       54
         ...
33974      38
34203      58
34434      55
34665     105
34892      34
Name: GOFF_PRNB, Length: 152, dtype: object

장성
 82        283
315       286
551       405
787       373
1019      433
         ...
33975     196
34204     276
34435     323
34666     227
34893     305
Name: GOFF_PRNB, Length: 152, dtype: object

광주송정
 83        6147
316       5326
552       7496
788       7544
1020      6726
          ...
33976     4275
34205     4577
34436     6600
34667     4949
34894     4371
Name: GOFF_PRNB, Length: 152, dtype: object

나주
 84        1121
317       1140
553        992
789        988
1021      1426
          ...
33977      855
34206      826
34437     1109
34668      845
34895      991
Name: GOFF_PRNB, Length: 152, dtype: object

다시
 85         7
318        8
554        5
790        5
1022      11
         ...
33978      3
34207      3
34438     11
34669      6
34896      5
Name: GOFF_PRNB, Length: 152, dtype: object

함평
 86        110
319        97
555       110
791       117
1023      103
         ...
33979      77
34208     107
34439     115
34670      96
34897      93
Name: GOFF_PRNB, Length: 152, dtype: object

무안
 87        20
320        9
556       14
792       15
1024      14
         ...
33980     15
34209      5
34440     11
34671      6
34898      8
Name: GOFF_PRNB, Length: 152, dtype: object

몽탄
 88         8
321       13
557       25
793       27
1025      16
         ...
33981     12
34210     15
34441     25
34672     12
34899      6
Name: GOFF_PRNB, Length: 152, dtype: object

일로
 89        60
322       58
558       65
794       50
1026      54
         ...
33982     39
34211     58
34442     68
34673     33
34900     38
Name: GOFF_PRNB, Length: 152, dtype: object

임성리
 90         2
323       14
559       15
795        1
1027        0
         ...
33983      7
34212     10
34443      7
34674      1
34901      2
Name: GOFF_PRNB, Length: 146, dtype: object

목포
 91        2364
324       2312
560       2781
796       2952
1028      2520
          ...
33984     1632
34213     1741
34444     2313
34675     2109
34902     1560
Name: GOFF_PRNB, Length: 152, dtype: object

삼례
 92        167
325       142
561       155
797       129
1029      167
         ...
33985      86
34214      83
34445     132
34676     125
34903     203
Name: GOFF_PRNB, Length: 152, dtype: object

전주
 93        4374
326       3732
562       4670
798       5725
1030      4191
          ...
33986     2585
34215     2722
34446     4047
34677     4419
34904     2964
Name: GOFF_PRNB, Length: 152, dtype: object

임실
 94         89
327        99
563       121
799        99
1031      122
         ...
33987      64
34216      98
34447      88
34678      98
34905      92
Name: GOFF_PRNB, Length: 152, dtype: object

오수
 95         89
328        84
564       104
800       114
1032      107
         ...
33988      82
34217      65
34448     117
34679      90
34906      71
Name: GOFF_PRNB, Length: 152, dtype: object

남원
 96         930
329        862
565       1008
801       1223
1033       979
          ...
33989      739
34218      714
34449     1054
34680     1003
34907      726
Name: GOFF_PRNB, Length: 152, dtype: object

곡성
 97        301
330       263
566       320
802       335
1034      296
         ...
33990     300
34219     316
34450     370
34681     519
34908     437
Name: GOFF_PRNB, Length: 152, dtype: object

구례구
 98        229
331       217
567       317
803       265
1035      223
         ...
33991     160
34220     170
34451     351
34682     369
34909     160
Name: GOFF_PRNB, Length: 152, dtype: object

순천
 99        3533
332       2987
568       3817
804       4129
1036      3505
          ...
33992     1961
34221     2185
34452     3280
34683     3043
34910     2353
Name: GOFF_PRNB, Length: 152, dtype: object

여천
 100       1181
333        910
569       1032
805        971
1037      1284
          ...
33993      581
34222      651
34453      894
34684      735
34911     1086
Name: GOFF_PRNB, Length: 152, dtype: object

여수엑스포
 101       2279
334       2375
570       2797
806       3328
1038      1937
          ...
33994     1053
34223     1185
34454     1882
34685     2247
34912     1287
Name: GOFF_PRNB, Length: 152, dtype: object

오송
 102        7643
335        8460
571       10045
807        6999
1039       8484
          ...
33995      7184
34224      7628
34455      9191
34686      4888
34913      5696
Name: GOFF_PRNB, Length: 152, dtype: object

청주
 103       451
336       354
572       441
808       815
1040      374
         ...
33996     253
34225     276
34456     401
34687     286
34914     321
Name: GOFF_PRNB, Length: 152, dtype: object

오근장
 104       490
337       371
573       533
809       356
1041      474
         ...
33997     297
34226     304
34457     503
34688     306
34915     357
Name: GOFF_PRNB, Length: 152, dtype: object

청주공항
 105       115
338       167
574       120
810       130
1042      145
         ...
33998      81
34227     111
34458      99
34689      81
34916     100
Name: GOFF_PRNB, Length: 152, dtype: object

증평
 106       350
339       296
575       347
811       231
1043      383
         ...
33999     198
34228     225
34459     261
34690     200
34917     270
Name: GOFF_PRNB, Length: 152, dtype: object

음성
 107       162
340       237
576       194
812       128
1044      238
         ...
34000     110
34229     260
34460     215
34691     144
34918     163
Name: GOFF_PRNB, Length: 152, dtype: object

주덕
 108       110
341       117
577       129
813        89
1045      121
         ...
34001      88
34230      85
34461     161
34692      77
34919     109
Name: GOFF_PRNB, Length: 152, dtype: object

충주
 109       624
342       688
578       908
814       638
1046      700
         ...
34002     665
34231     654
34462     940
34693     638
34920     689
Name: GOFF_PRNB, Length: 152, dtype: object

삼탄
 110        3
343       10
579        3
815        2
1279       2
         ...
34003      2
34232      2
34463      2
34694      8
34921      1
Name: GOFF_PRNB, Length: 137, dtype: object

아산
 111        932
344       1006
580       1163
816       1153
1047      1085
          ...
34004      599
34233      582
34464      943
34695      864
34922      732
Name: GOFF_PRNB, Length: 152, dtype: object

온양온천
 112       1027
345        863
581       1003
817       1274
1048      1067
          ...
34005      599
34234      589
34465      830
34696      758
34923      732
Name: GOFF_PRNB, Length: 152, dtype: object

신창
 2925      27
3158      30
3391      26
3628      15
3865      22
         ...
31939     50
32169     34
32400     37
32631     28
32860     57
Name: GOFF_PRNB, Length: 131, dtype: object

도고온천
 113        89
346        79
582        86
818       152
1049       70
         ...
34006      29
34235      35
34466      47
34697      38
34924      44
Name: GOFF_PRNB, Length: 152, dtype: object

신례원
 114       198
347       183
583       173
819       216
1050      177
         ...
34007     102
34236     145
34467     202
34698     143
34925     148
Name: GOFF_PRNB, Length: 152, dtype: object

예산
 115        855
348        755
584        936
820       1080
1051       822
          ...
34008      656
34237      657
34468      820
34699      815
34926      693
Name: GOFF_PRNB, Length: 152, dtype: object

삽교
 116       284
349       271
585       320
821       351
1052      420
         ...
34009     165
34238     193
34469     281
34700     281
34927     228
Name: GOFF_PRNB, Length: 152, dtype: object

홍성
 117       1176
350       1180
586       1238
822       1505
1053      1349
          ...
34010     1002
34239      996
34470     1239
34701     1191
34928     1230
Name: GOFF_PRNB, Length: 152, dtype: object

광천
 118       310
351       347
587       395
823       483
1054      413
         ...
34011     222
34240     218
34471     341
34702     339
34929     280
Name: GOFF_PRNB, Length: 152, dtype: object

청소
 119       14
352       21
588       15
824       20
1055      19
         ...
34012     11
34241     10
34472      8
34703     23
34930     11
Name: GOFF_PRNB, Length: 152, dtype: object

대천
 120       1310
353       1241
589       1559
825       1737
1056      1203
          ...
34013      854
34242      827
34473     1399
34704     1657
34931     1031
Name: GOFF_PRNB, Length: 152, dtype: object

웅천
 121       156
354       171
590       209
826       205
1057      177
         ...
34014     104
34243     129
34474     173
34705     179
34932     119
Name: GOFF_PRNB, Length: 152, dtype: object

판교
 122       58
355       25
591       78
827       57
1058      58
         ...
34015     30
34244     33
34475     70
34706     59
34933     23
Name: GOFF_PRNB, Length: 152, dtype: object

서천
 123       387
356       326
592       389
828       423
1059      374
         ...
34016     235
34245     236
34476     349
34707     311
34934     306
Name: GOFF_PRNB, Length: 152, dtype: object

장항
 124       158
357       158
593       179
829       183
1060      193
         ...
34017      75
34246      69
34477     124
34708     148
34935     114
Name: GOFF_PRNB, Length: 152, dtype: object

군산
 125       757
358       552
594       636
830       909
1061      642
         ...
34018     238
34247     283
34478     452
34709     617
34936     413
Name: GOFF_PRNB, Length: 152, dtype: object

대야
 126       10
359        9
595       17
831       13
1062      15
         ...
34019      5
34248      6
34479      8
34710      6
34937      9
Name: GOFF_PRNB, Length: 151, dtype: object

행신
 127       2575
360       1938
596       2565
832       2650
1063      3015
          ...
34020     1227
34249     1230
34480     1935
34711     1455
34938     1858
Name: GOFF_PRNB, Length: 152, dtype: object

옥수
 128       74
361       37
597       63
833       45
1064      70
         ...
34021     30
34250     38
34481     72
34712     51
34939     60
Name: GOFF_PRNB, Length: 152, dtype: object

왕십리
 129       304
362       712
598       668
834       228
1065      287
         ...
34022     654
34251     616
34482     670
34713     177
34940     314
Name: GOFF_PRNB, Length: 152, dtype: object

청량리
 130        9315
363        8457
599        9785
835       11216
1066      10816
          ...
34023      5510
34252      5860
34483      7352
34714      7064
34941      8030
Name: GOFF_PRNB, Length: 152, dtype: object

동두천
 2707     298
Name: GOFF_PRNB, dtype: object

소요산
 Series([], Name: GOFF_PRNB, dtype: object)

전곡
 Series([], Name: GOFF_PRNB, dtype: object)

연천
 Series([], Name: GOFF_PRNB, dtype: object)

신망리
 Series([], Name: GOFF_PRNB, dtype: object)

대광리
 Series([], Name: GOFF_PRNB, dtype: object)

신탄리
 Series([], Name: GOFF_PRNB, dtype: object)

평내호평
 131        767
366       1420
602       1488
836       1286
1067       972
          ...
34026     1282
34255     1215
34486     1266
34715      737
34942      609
Name: GOFF_PRNB, Length: 152, dtype: object

청평
 132       293
368       152
604       216
838       558
1069      367
         ...
34028      63
34257     214
34488     193
34717     441
34944     234
Name: GOFF_PRNB, Length: 152, dtype: object

가평
 133        936
369       1026
605       1065
839       1457
1070       946
          ...
34029      601
34258      749
34489      890
34718     1297
34945      706
Name: GOFF_PRNB, Length: 152, dtype: object

백양리
 134       20
370       23
606       37
840       63
1071      35
         ...
13231     11
13458     11
13686     10
13911     19
14134     12
Name: GOFF_PRNB, Length: 61, dtype: object

강촌
 135       133
371        29
607        33
841       159
1072       74
         ...
34030      10
34259      13
34490      12
34719     178
34946     156
Name: GOFF_PRNB, Length: 152, dtype: object

남춘천
 136       2243
372       2055
608       2536
842       3517
1073      2584
          ...
34031     1624
34260     1573
34491     2348
34720     2493
34947     1689
Name: GOFF_PRNB, Length: 152, dtype: object

춘천
 137       1964
373       1732
609       1961
843       2922
1074      2176
          ...
34032     1190
34261     1255
34492     1680
34721     1997
34948     1358
Name: GOFF_PRNB, Length: 152, dtype: object

옥산
 138       21
374       31
610       34
844       23
1075      26
         ...
34033     22
34262     13
34493     26
34722     26
34949     20
Name: GOFF_PRNB, Length: 152, dtype: object

청리
 139        4
375        7
611       11
845        9
1076      12
         ...
34034      6
34263      5
34494      5
34723      6
34950      5
Name: GOFF_PRNB, Length: 151, dtype: object

상주
 140       119
376        96
612       138
846       167
1077      128
         ...
34035      73
34264      88
34495     144
34724     139
34951     108
Name: GOFF_PRNB, Length: 152, dtype: object

함창
 141        7
377       15
613       20
847       14
1078      20
         ...
34036     11
34265      7
34496     12
34725     12
34952     10
Name: GOFF_PRNB, Length: 150, dtype: object

점촌
 142        86
378        63
614       153
848       124
1079      109
         ...
34037      74
34266      52
34497      97
34726     105
34953     111
Name: GOFF_PRNB, Length: 152, dtype: object

용궁
 143        4
379        7
615        9
849       23
1080       8
         ...
34038      7
34267      5
34498      6
34727      6
34954      8
Name: GOFF_PRNB, Length: 149, dtype: object

개포
 144        3
380        1
616        4
850        3
1081       4
         ...
34039      2
34268       0
34499      2
34728      3
34955     13
Name: GOFF_PRNB, Length: 142, dtype: object

예천
 145       44
381       40
617       63
851       57
1082      63
         ...
34040     23
34269     34
34500     43
34729     31
34956     49
Name: GOFF_PRNB, Length: 152, dtype: object

극락강
 146       31
382       40
618       49
852       18
1083      19
         ...
34041     43
34270     42
34501     54
34730     21
34957     35
Name: GOFF_PRNB, Length: 152, dtype: object

광주
 147       572
383       504
619       575
853       687
1084      630
         ...
34042     419
34271     462
34502     621
34731     565
34958     532
Name: GOFF_PRNB, Length: 152, dtype: object

봉화
 148       61
384       24
620       42
854       49
1085      58
         ...
34043     27
34272     33
34503     34
34732     29
34959     27
Name: GOFF_PRNB, Length: 152, dtype: object

춘양
 149       52
385       49
621       35
855       30
1086      40
         ...
34044     16
34273     15
34504     37
34733     13
34960     20
Name: GOFF_PRNB, Length: 152, dtype: object

현동
 151       2
386       8
623       1
857       2
1087      2
        ...
34046     2
34275     5
34506      0
34735     1
34961     1
Name: GOFF_PRNB, Length: 125, dtype: object

분천
 152        571
387        340
624        280
858       1663
1088       519
          ...
34047        8
34276        7
34507       11
34736       10
34962       34
Name: GOFF_PRNB, Length: 152, dtype: object

양원
 153        7
388        2
625        1
859       16
1089       4
         ...
34048      1
34277      2
34508      2
34737      4
34963      1
Name: GOFF_PRNB, Length: 115, dtype: object

승부
 154        25
389         4
626        20
860       101
1090       40
         ...
34049       6
34278       5
34509      15
34738      11
34964      33
Name: GOFF_PRNB, Length: 141, dtype: object

석포
 155       19
390       25
627       23
861       23
1091      28
         ...
34050     11
34279     13
34510     20
34739     16
34965     32
Name: GOFF_PRNB, Length: 152, dtype: object

철암
 156       330
391       401
628       261
862       549
1092      547
         ...
34051      21
34280      13
34511      17
34740      19
34966      25
Name: GOFF_PRNB, Length: 152, dtype: object

동백산
 157       75
392       33
629       14
863       84
1093      92
         ...
34052     16
34281     16
34512     24
34741     10
34967     18
Name: GOFF_PRNB, Length: 152, dtype: object

도계
 158       105
393        99
630       111
864        98
1094      122
         ...
34053      85
34282      74
34513     108
34742      63
34968     106
Name: GOFF_PRNB, Length: 152, dtype: object

신기
 159       1
394       4
631        0
865       3
1095       0
        ...
33823     2
34054     2
34283     5
34514     1
34969     5
Name: GOFF_PRNB, Length: 147, dtype: object

동해
 160       486
395       144
632       223
866       214
1096      204
         ...
34055     428
34284     534
34515     705
34743     773
34970     577
Name: GOFF_PRNB, Length: 152, dtype: object

묵호
 161       327
396       242
633       168
867       281
1097      277
         ...
34056     131
34285     118
34516     217
34744     226
34971     204
Name: GOFF_PRNB, Length: 152, dtype: object

망상해변
 Series([], Name: GOFF_PRNB, dtype: object)

정동진
 162       1473
397        495
634       1247
868       1034
1098       498
          ...
34057      147
34286      157
34517      190
34745      405
34972      195
Name: GOFF_PRNB, Length: 152, dtype: object

강릉
 163       6202
398       4518
635       5738
869       6896
1099      4642
          ...
34058     1964
34287     2178
34518     3447
34746     3909
34973     2557
Name: GOFF_PRNB, Length: 152, dtype: object

쌍룡
 167       4
402        0
640       1
873       3
1104      4
        ...
34059     1
34288     1
34519     1
34747     4
34974     3
Name: GOFF_PRNB, Length: 152, dtype: object

영월
 168       224
403       173
641       211
874       205
1105      176
         ...
34060     118
34289     127
34520     204
34748     194
34975     191
Name: GOFF_PRNB, Length: 152, dtype: object

예미
 169       36
404       22
642       43
875       65
1106      42
         ...
34061     33
34290     44
34521     41
34749     38
34976     39
Name: GOFF_PRNB, Length: 152, dtype: object

민둥산
 170       77
405       40
643       41
876       81
1107      98
         ...
34062     27
34291     38
34522     37
34750     34
34977     40
Name: GOFF_PRNB, Length: 152, dtype: object

사북
 171       251
406       255
644       220
877       233
1108      216
         ...
34063      56
34292      55
34523      75
34751      61
34978      64
Name: GOFF_PRNB, Length: 152, dtype: object

고한
 172       146
407        91
645       114
878        98
1109      144
         ...
34064      44
34293      35
34524      40
34752      57
34979      57
Name: GOFF_PRNB, Length: 152, dtype: object

태백
 173       345
408       341
646       343
879       457
1110      492
         ...
34065     178
34294     200
34525     236
34753     185
34980     221
Name: GOFF_PRNB, Length: 152, dtype: object

부전
 174       1907
409       1724
647       2010
880       2310
1111      2131
          ...
34066     1037
34295     1094
34526     1229
34754     1597
34981     1482
Name: GOFF_PRNB, Length: 152, dtype: object

센텀
 175       249
410       303
648       369
881       376
1112      315
         ...
34067     200
34296     228
34527     293
34755     240
34982     227
Name: GOFF_PRNB, Length: 152, dtype: object

신해운대
 176       579
411       580
649       629
882       875
1113      652
         ...
34068     357
34297     368
34528     426
34756     528
34983     371
Name: GOFF_PRNB, Length: 152, dtype: object

기장
 177       393
412       370
650       423
883       447
1114      405
         ...
34069     281
34298     358
34529     348
34757     373
34984     310
Name: GOFF_PRNB, Length: 152, dtype: object

좌천
 178       179
413       153
651       186
884       167
1115      183
         ...
34070     130
34299     138
34530     151
34758     114
34985     141
Name: GOFF_PRNB, Length: 152, dtype: object

월내
 Series([], Name: GOFF_PRNB, dtype: object)

남창
 179       506
414       498
652       587
885       582
1116      519
         ...
34071     321
34300     379
34531     419
34759     396
34986     345
Name: GOFF_PRNB, Length: 152, dtype: object

덕하
 180        99
415       101
653       131
886       123
1117      134
         ...
34072     111
34301     101
34532     137
34760     101
34987      84
Name: GOFF_PRNB, Length: 152, dtype: object

태화강
 181       1703
416       1872
654       2148
887       2276
1118      2175
          ...
34073     1298
34302     1345
34533     1677
34761     1832
34988     1622
Name: GOFF_PRNB, Length: 152, dtype: object

호계
 182        928
417        973
655       1179
888       1207
1119      1094
          ...
34074      501
34303      568
34534      810
34762      722
34989      727
Name: GOFF_PRNB, Length: 152, dtype: object

불국사
 183       183
418       201
656       177
889       228
1120      236
         ...
34075      95
34304     129
34535     154
34763     233
34990     144
Name: GOFF_PRNB, Length: 152, dtype: object

경주
 184       1050
419       1359
657       1396
890       1409
1121      1267
          ...
34076      833
34305      795
34536      979
34764     1232
34991      876
Name: GOFF_PRNB, Length: 152, dtype: object

안강
 185       37
420       24
658       22
891       45
1122      31
         ...
34077     11
34306     13
34537     35
34765     29
34992     23
Name: GOFF_PRNB, Length: 152, dtype: object

하양
 186       856
421       784
659       783
892       755
1123      929
         ...
34078     442
34307     410
34538     556
34766     533
34993     699
Name: GOFF_PRNB, Length: 152, dtype: object

한림정
 187       28
422       22
660       20
893       26
1124       7
         ...
34079     16
34308     19
34539     16
34767     35
34994     30
Name: GOFF_PRNB, Length: 152, dtype: object

진영
 188       702
423       509
661       709
894       718
1125      844
         ...
34080     297
34309     374
34540     526
34768     480
34995     425
Name: GOFF_PRNB, Length: 152, dtype: object

창원
 189       711
424       703
662       952
895       960
1126      940
         ...
34081     535
34310     530
34541     758
34769     572
34996     546
Name: GOFF_PRNB, Length: 152, dtype: object

마산
 190       1441
425       1352
663       1776
896       1706
1127      1687
          ...
34082      942
34311      978
34542     1422
34770     1194
34997     1020
Name: GOFF_PRNB, Length: 152, dtype: object

중리
 191       61
426       85
664       89
897       82
1128      62
         ...
34083     79
34312     70
34543     75
34771     61
34998     77
Name: GOFF_PRNB, Length: 152, dtype: object

함안
 192       56
427       48
665       57
898       73
1129      78
         ...
34084     47
34313     43
34544     80
34772     95
34999     73
Name: GOFF_PRNB, Length: 152, dtype: object

군북
 193        76
428        79
666       128
899        85
1130      114
         ...
34085      45
34314      54
34545      73
34773      69
35000      94
Name: GOFF_PRNB, Length: 152, dtype: object

반성
 194       28
429       39
667       49
900       36
1131      20
         ...
34086     17
34315     27
34546     26
34774     56
35001     39
Name: GOFF_PRNB, Length: 152, dtype: object

진주
 195       782
430       850
668       961
901       956
1132      874
         ...
34087     757
34316     703
34547     905
34775     679
35002     727
Name: GOFF_PRNB, Length: 152, dtype: object

완사
 196        1
431        9
669        6
902       11
1133       2
         ...
34088      8
34317      9
34548      7
34776      8
35003     19
Name: GOFF_PRNB, Length: 152, dtype: object

북천
 197       16
432        9
670       11
903       22
1134      16
         ...
34089     18
34318     16
34549     31
34777     35
35004     36
Name: GOFF_PRNB, Length: 152, dtype: object

횡천
 198       18
433       15
671       20
904       20
1135      24
         ...
34090      9
34319      8
34550     16
34778     27
35005     27
Name: GOFF_PRNB, Length: 152, dtype: object

하동
 199        93
434        60
672        57
905       142
1136       94
         ...
34091      79
34320      53
34551      96
34779     103
35006      93
Name: GOFF_PRNB, Length: 152, dtype: object

진상
 200       55
435       12
673       23
906       28
1137      89
         ...
34092     13
34321     16
34552     22
34780     22
35007     60
Name: GOFF_PRNB, Length: 152, dtype: object

광양
 201       27
436       29
674       31
907       46
1138      58
         ...
34093     16
34322     22
34553     43
34781     33
35008     27
Name: GOFF_PRNB, Length: 152, dtype: object

벌교
 202       25
437       14
675       32
908       39
1139      23
         ...
34094     21
34323     25
34554     29
34782     21
35009     17
Name: GOFF_PRNB, Length: 152, dtype: object

조성
 203        5
438       10
676       13
909        6
1140       4
         ...
34095      9
34324      9
34555     14
34783     10
35010     12
Name: GOFF_PRNB, Length: 152, dtype: object

예당
 204        8
439       13
677       13
910       10
1141      20
         ...
34096     11
34325      8
34556     10
34784      7
35011     15
Name: GOFF_PRNB, Length: 152, dtype: object

득량
 205        8
440       10
678       14
911       18
1142      11
         ...
34097     11
34326      8
34557     19
34785     17
35012     15
Name: GOFF_PRNB, Length: 152, dtype: object

보성
 206        94
441       103
679        83
912        93
1143       74
         ...
34098      57
34327      70
34558      82
34786     104
35013      60
Name: GOFF_PRNB, Length: 152, dtype: object

명봉
 207        0
442       2
680       9
913       1
1144      2
        ...
34099     2
34328     3
34559     5
34787     1
35014     1
Name: GOFF_PRNB, Length: 147, dtype: object

이양
 208        6
443        4
681        4
914        9
1145       5
         ...
34100     10
34329      9
34560      7
34788      7
35015      2
Name: GOFF_PRNB, Length: 152, dtype: object

능주
 209        6
444        4
682        5
915        5
1146      10
         ...
34101      5
34330      7
34561      7
34789     14
35016      7
Name: GOFF_PRNB, Length: 149, dtype: object

화순
 210       21
445       25
683       50
916       23
1147      23
         ...
34102     21
34331     16
34562     34
34790     30
35017     17
Name: GOFF_PRNB, Length: 152, dtype: object

효천
 211       17
446       21
684       30
917       23
1148      23
         ...
34103     16
34332     12
34563     26
34791     24
35018     23
Name: GOFF_PRNB, Length: 152, dtype: object

서광주
 212       16
447       25
685       27
918       26
1149      20
         ...
34104     18
34333     25
34564     14
34792     18
35019     18
Name: GOFF_PRNB, Length: 152, dtype: object

광명
 213       14059
448       12805
686       15943
919       13805
1150      16351
          ...
34105      9197
34334      9660
34565     12441
34793      8058
35020      9715
Name: GOFF_PRNB, Length: 152, dtype: object

천안아산
 214        8612
449        8813
687       10212
920        8797
1151      10060
          ...
34106      6107
34335      6321
34566      8239
34794      5924
35021      6484
Name: GOFF_PRNB, Length: 152, dtype: object

김천구미
 215       2233
450       2519
688       2735
921       2379
1152      2710
          ...
34107     1700
34336     1732
34567     2260
34795     1513
35022     1539
Name: GOFF_PRNB, Length: 152, dtype: object

신경주
 216       1289
451       1511
689       1937
922       1864
1153      1501
          ...
34108      821
34337      897
34568     1435
34796     1164
35023      941
Name: GOFF_PRNB, Length: 152, dtype: object

울산
 217       4673
452       4901
690       6489
923       6240
1154      7048
          ...
34109     3181
34338     3251
34569     4663
34797     3537
35024     3762
Name: GOFF_PRNB, Length: 152, dtype: object

상봉
 218       607
453       648
691       693
924       672
1155      793
         ...
34110     328
34339     383
34570     520
34798     357
35025     520
Name: GOFF_PRNB, Length: 152, dtype: object

진례
 219       16
454        2
692        4
925        5
1156      13
         ...
34111      3
34340      6
34571      8
34799      7
35026     11
Name: GOFF_PRNB, Length: 152, dtype: object

창원중앙
 220       2591
455       2510
693       3001
926       3009
1157      3504
          ...
34112     1836
34341     1842
34572     2583
34800     1865
35027     2028
Name: GOFF_PRNB, Length: 152, dtype: object

인천공항T1
 221       655
456       563
694       644
927       681
1158      646
         ...
34113        0
34342        0
34573        0
34801       1
35028        0
Name: GOFF_PRNB, Length: 152, dtype: object

백마고지
 Series([], Name: GOFF_PRNB, dtype: object)

공주
 222       207
457       206
695       203
928       227
1159      242
         ...
34114     130
34343     139
34574     229
34802     209
35029     113
Name: GOFF_PRNB, Length: 152, dtype: object

포항
 223       3323
458       3364
696       4153
929       4254
1160      3728
          ...
34115     2203
34344     2196
34575     3089
34803     2848
35030     2357
Name: GOFF_PRNB, Length: 152, dtype: object

횡성
 224       296
459       234
697       316
930       292
1161      215
         ...
34116     141
34345     181
34576     271
34804     323
35031     266
Name: GOFF_PRNB, Length: 152, dtype: object

둔내
 225       164
460       147
698       223
931       209
1162      131
         ...
34117      85
34346      84
34577     160
34805     126
35032      81
Name: GOFF_PRNB, Length: 152, dtype: object

평창
 226       335
461       338
699       435
932       469
1163      347
         ...
34118     149
34347     164
34578     262
34806     288
35033     157
Name: GOFF_PRNB, Length: 152, dtype: object

진부
 227       432
462       434
700       683
933       692
1164      470
         ...
34119     198
34348     185
34579     346
34807     329
35034     209
Name: GOFF_PRNB, Length: 152, dtype: object

인천공항T2
 228       262
463       197
701       258
934       192
1165      247
         ...
34120        0
34349        0
34580        0
34808        0
35035        0
Name: GOFF_PRNB, Length: 139, dtype: object

월포
 229       13
464       29
702       27
935       24
1166      10
         ...
34121      9
34350      7
34581     11
34809     12
35036     14
Name: GOFF_PRNB, Length: 151, dtype: object

장사
 230        9
465       11
703       14
936       23
1167      12
         ...
34122      9
34351     17
34582     23
34810      9
35037      6
Name: GOFF_PRNB, Length: 152, dtype: object

강구
 231       43
466       29
704       30
937       41
1168      26
         ...
34123     15
34352     24
34583     24
34811     23
35038      9
Name: GOFF_PRNB, Length: 152, dtype: object

영덕
 232       157
467       176
705       189
938       184
1169      153
         ...
34124     105
34353     100
34584     126
34812     125
35039     119
Name: GOFF_PRNB, Length: 152, dtype: object

지탄
 18        1
250       2
486       3
956        0
1187      2
        ...
33682      0
33911      0
34371     2
34602     2
34830      0
Name: GOFF_PRNB, Length: 125, dtype: object

각계
 252      0
488      0
1189     0
1891     0
3065     0
        ..
32538    0
33453    0
33913    0
34373    0
34604    0
Name: GOFF_PRNB, Length: 66, dtype: object

문산
 Series([], Name: GOFF_PRNB, dtype: object)

임진강
 Series([], Name: GOFF_PRNB, dtype: object)

도라산
 Series([], Name: GOFF_PRNB, dtype: object)

초성리
 Series([], Name: GOFF_PRNB, dtype: object)

퇴계원
 364       108
600        95
1300      104
1532      112
1767      122
         ...
33564     111
33794     108
34024     103
34253     100
34484     108
Name: GOFF_PRNB, Length: 109, dtype: object

사릉
 365        95
601        89
1301      105
1533      111
1768      111
         ...
33565      88
33795      86
34025      84
34254      91
34485      77
Name: GOFF_PRNB, Length: 102, dtype: object

마석
 367       143
603       139
837         1
1068        1
1303      143
         ...
34027     137
34256     135
34487     130
34716       1
34943       1
Name: GOFF_PRNB, Length: 131, dtype: object

임기
 150        0
622       1
856       1
1322       0
1554       0
        ...
33815      0
34045      0
34274      0
34505     2
34734      0
Name: GOFF_PRNB, Length: 78, dtype: object

별어곡
 636       0
1100     2
1568      0
2273     2
2507      0
2742     1
3920      0
4390      0
5097      0
6037     3
6272      0
7216      0
Name: GOFF_PRNB, dtype: object

선평
 1101      0
2743      0
4391     2
5098      0
5570     3
5803     6
6038     1
6273      0
Name: GOFF_PRNB, dtype: object

정선
 164       9
399      25
637      12
870      27
1102     27
1569     46
1803      4
2038     22
2274      5
2508     18
2744     82
3446      3
3683      7
3921     13
4155     17
4392     11
5099     23
5336      7
5571     34
5804      5
6039     14
6274     26
6744      8
6980      4
7217      9
7449     23
7682     24
Name: GOFF_PRNB, dtype: object

아우라지
 166       5
401      23
639       2
872      19
1103     18
1570      3
1804       0
2039      6
2275      8
2509      8
2745     11
3447      4
3684     10
3922      1
4156     20
4393      5
5101      2
5338      5
5573      8
5806     16
6041     11
6276      3
6745       0
6982     46
7450      8
7684      1
Name: GOFF_PRNB, dtype: object

비동
 4212      0
7740     1
9370     1
Name: GOFF_PRNB, dtype: object

광운대
 2706     226
Name: GOFF_PRNB, dtype: object

의정부
 Series([], Name: GOFF_PRNB, dtype: object)

한탄강
 Series([], Name: GOFF_PRNB, dtype: object)

나전
 165      2
400      4
638      2
871       0
5100      0
5337     1
5572     5
5805     2
6040     1
6275      0
6981      0
7218     1
7683      0
Name: GOFF_PRNB, dtype: object

운천
 Series([], Name: GOFF_PRNB, dtype: object)

서빙고
 Series([], Name: GOFF_PRNB, dtype: object)

망우
 Series([], Name: GOFF_PRNB, dtype: object)

백운
 Series([], Name: GOFF_PRNB, dtype: object)

자미원
 Series([], Name: GOFF_PRNB, dtype: object)

의왕
 Series([], Name: GOFF_PRNB, dtype: object)

창동
 Series([], Name: GOFF_PRNB, dtype: object)

별내
 Series([], Name: GOFF_PRNB, dtype: object)

AttributeError: 'Series' object has no attribute 'info'

In [18]:
station.head()

Empty DataFrame
Columns: [RUN_DT, STN_CD_NM,  GOFF_PRNB , GOFF_PRNB]
Index: []

In [ ]:
print(station.dtypes)